<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryzhang.android_demo">

    <!-- 荣耀角标权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Applications"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 启动页 -->
        <activity
            android:name=".app.loading.LoadingActivity"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> <!--要想在别的App上能成功调起App，必须添加intent过滤器-->

        </activity>
        <!-- 登录页 -->
        <activity
            android:name=".app.login.LoginActivity"
            android:launchMode="singleTask" />
        <!-- 主页 -->
        <activity
            android:name=".app.main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".app.test.TestActivity" />
        <activity
            android:name=".app.main.DrawActivity"
            android:label="@string/title_activity_draw"></activity>
    </application>

</manifest>